<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragment/head :: head(회원가입)">
    <title></title>
</head>
<body class=" container text-center">
<div class="d-flex justify-content-center py-5 my-5">
    <main class="form-signin w-25">
        <form id="signupForm">
            <h1 class="h3 mb-3 fw-normal">회원가입</h1>

            <div class="form-floating pb-1">
                <input type="text" class="form-control" name="loginId" id="loginId" autocomplete="username" placeholder="Id">
                <label for="loginId">Id</label>
            </div>
            <div class="form-floating pb-1">
                <input type="password" class="form-control" name="password" id="password" autocomplete="current-password"
                       placeholder="Password">
                <label for="password">Password</label>
            </div>
        </form>
            <button class="w-100 btn btn-primary" id="signupBtn">회원가입</button>
    </main>
</div>
</body>
<script th:src="@{/js/sign/signup.js}"></script>
</html>
