<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragment/head :: head(login)">
</head>
<body>
<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .container > * {
        margin: 0 10px;
    }

</style>
<div class="container" th:data-redirect="${#request.requestURI}">
</div>
</body>
<script type="module" th:src="@{/js/index.js}"></script>
<script type="module" th:src="@{/js/members/Information.js}"></script>
<script type="module" th:src="@{/js/wallet/wallet.js}"></script>
<script type="module" th:src="@{/js/jwt/tokenUtil.js}"></script>
</html>
